
@{
    ViewBag.Title = "AboutValue";
    Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}


<div class="breadcrumb_section bg_gray page-title-mini">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="page-title">
					<h1>افتخارات فرش مشهد</h1>
				</div>
			</div>
			<div class="col-md-6">
				<ol class="breadcrumb justify-content-md-end">
					<li class="breadcrumb-item"><a href="/">خانه</a></li>
					<li class="breadcrumb-item"><a href="/about">درباره ما</a></li>
					<li class="breadcrumb-item active">افتخارات</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="main_content ">

	<div class="section">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-5">
					<div class="about_img scene mb-4 mb-lg-0">
						<img src="~/assets/images/about/reza-hamidi.jpg" />
					</div>
				</div>
				<div class="col-lg-7">
					<div class="heading_s1">
						<h2>

							<img src="~/assets/images/slaogan.png" />
						</h2>
					</div>
					<p class="text-justify">شرکت فرش مشهد یکی از واحدهای صنعتی نمونه کشور می باشد که با اخذ تقدیر نامه های ذیل توانسته است در طول حیات خود در کلیه زمینه های تولیدی، صادراتی، سرمایه گذاری و نیکوکاری و غیره پیشرو باشد. برخی از عناوین و افتخارات شرکت فرش مشهد و <strong>آقای مهندس رضا حمیدی</strong> بنیان گذار این مجموعه به شرح زیر می باشند.
					</p>
				</div>
			</div>
		</div>
	</div>
 
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="term_conditions">
						<h6>افتخارات فرش مشهد</h6>
					
						
						
						<ol>
							<li>صادرکننده نمونه کشور در سالهای ۱۳۷۸ و ۱۳۸۰ - اخذ لوح تقدیر از ریاست جمهور</li>
							<li>سرمایه گذار صنعتی نمونه کشور- اخذ لوح تقدیر از ریاست جمهور</li>
							<li>واحد تولیدی نمونه در سطح کشور- اخذ لوح تقدیر از ریاست جمهور</li>
							<li>نیکوکار نمونه صنعتی کشور- اخذ لوح تقدیر از ریاست جمهور</li>
							<li>واقف نمونه صنعتی کشور- اخذ لوح تقدیر از ریاست جمهور</li>
							<li>مودی مالیاتی نمونه کشور- اخذ لوح تقدیر از ریاست جمهور</li>
							<li>جناب آقای مهندس حمیدی کارآفرین برتر کشور سال ۸۹</li>
							<li>پیشکسوت صنعتی نمونه ی کشور</li>
							<li>از بزرگترین و با سابقه ترین صادرکنندگان فرش ماشینی به بیش از ۳۰ کشور در ۵ قاره جهان</li>
							<li>نخستین دارنده گواهی نامه ی جهانی ایزو ۹۰۰۱ در صنعت فرش ماشینی ایران</li>
							<li>نخستین دارنده گواهی نامه ی شرکت درالون آلمان (بایر سابق) در ایران</li>
							<li>نخستین دارنده گواهی نامه ی پشم نیوزلند در ایران</li>
							<li>نخستین و تنها تولید کننده ی فرش پشم و ابریشم هفت رنگ (با دو نخ ابریشم طبیعی) در جهان</li>
							<li>نخستین دارنده ی پروانه ی تحقیق و توسعه در صنعت فرش ماشینی ایران</li>
							<li> دارنده ی نشان تشویقی استاندارد ملی ایران</li>
							<li>عضو فعال انجمن صنایع نساجی ایران</li>
							<li>ریاست کنونی انجمن مدیران صنایع خراسان</li>
							<li>صادرکننده نمونه استان خراسان رضوی در سالهای ۱۳۷۴ تا ۱۳۸۷ بطور پیوسته</li>
							<li> واحد صنعتی کار آفرین نمونه استان خراسان</li>
							<li> چهره ماندگار کار و تولید استان خراسان رضوی سال ۱۳۹۰</li>
							<li>مقام اول در کنترل کیفیت استان خراسان رضوی سال ۱۳۹۰</li>
							<li>واحد نمونه استان خراسان رضوی در سال ۹۰</li>
							<li>کارآفرین اجتماعی استان خراسان رضوی در سال ۹۰</li>
							<li>عضو هیئت امناء دانشگاههای پزشکی مشهد با حکم ریاست جمهوری</li>
							<li>عضو بنیاد دانشگاه فردوسی مشهد</li>
							<li>خدمات ارزنده به جامعه معلولین کشور بخصوص آسایشگاه معلولین شهید فیاض بخش ( مرحوم عبدا.. هنری )</li>
							<li>طراح ساخت مدارس روستایی و پیشنهاد و تصویب مشارکت پنجاه درصدی وزارت آموزش و پرورش با خیرین مدرسه ساز کشور طبق الگوی ۶۱ واحدی مدارس سربیشه بیرجند که توسط خیرین شرکت فرش مشهد و سایر خیرین انجام گرفت .</li>
							<li>مشارکت موثر در تشویق و ساخت مدارس فنی و حرفه ای و کار و دانش در خراسان که منجر به رشد یازده درصدی تعلیمات فنی و حرفه ای نسبت به سایر نقاط کشور گردید .</li>
							<li>مشارکت موثر در هدایت و حمایت از موسسات خیریه فرهنگی ، درمانی و ورزشی</li>
							<li>خدمات ارزنده به گسترش ورزش در سطح جامعه با ساخت و تاسیس سالنهای ورزشی</li>

						</ol>

					</div>
				</div>
			</div>
		</div>
	</div>

 

	@Html.Partial("FrontEnd/_NewsLetterPartial")


</div>
