@model ViewModels.AboutViewModel

@{
		ViewBag.Title = "درباره ما";
		ViewBag.Canonical = "https://www.mashadcarpet.com/about";
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}

<div class="breadcrumb_section bg_gray page-title-mini">
	<div class="container">
		<!-- STRART CONTAINER -->
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="page-title">
					<h1>درباره ما</h1>
				</div>
			</div>
			<div class="col-md-6">
				<ol class="breadcrumb justify-content-md-end">
					<li class="breadcrumb-item"><a href="/">خانه</a></li>
					<li class="breadcrumb-item active">درباره ما</li>
				</ol>
			</div>
		</div>
	</div><!-- END CONTAINER-->
</div>

<div class="main_content ">

	<!-- STAT SECTION ABOUT -->
	<div class="section">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="about_img scene mb-4 mb-lg-0">
						<img src="~/assets/images/mashadcarpet-about.jpg" />
					</div>
				</div>
				<div class="col-lg-6">
					<div class="heading_s1">
						<h2>

							<img src="~/assets/images/slaogan.png" />
						</h2>
					</div>
					<p class="text-justify">شرکت فرش مشهد بزرگترین عضو گروه صنعتی مشهد و یکی از بزرگترین تولید کنندگان فرش ماشینی در ایران می باشد همچنین مفتخریم طی سالها بهترین فرش ماشینی با بالاترین کیفیت را به ایرانیان عزیز عرضه کرده ایم. این شرکت در سال ۱۳۵۶ در مشهد، دومین شهر بزرگ ایران، با ظرفیت تولید سالانه ۲۴۰،۰۰۰ متر مربع آغاز به کار کرد. در طول سالهای متمادی جهت رقابت داخلی و جهانی با همکاری تیمی توانمند، شامل مدیران با تجربه، مهندسین مجرب و گارگران ماهر تولید سالانه به ۲،۴۰۰،۰۰۰ متر مربع افزایش یافت.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- END SECTION ABOUT -->
	<!-- START SECTION WHY CHOOSE -->
	<div class="section bg_light_blue2 pb_70">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-8">
					<div class="heading_s1 text-center">
						<h2>چرا فرش مشهد</h2>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-4 col-sm-6">
					<div class="icon_box icon_box_style4 box_shadow1">
						<div class="icon">
							<i class="ti-pencil-alt"></i>
						</div>
						<div class="icon_box_content">
							<h5>واحد فروش داخل </h5>
							<p> پس از حدود ۳۵ سال فرش مشهد از جمله برند های تثبیت شده در بازار داخل می باشد. فرش مشهد شبکه قوی توزیع دارد از جمله فروشگاه‌ های شرکت و نمایندگان مختلف و عمده فروشان. فرش مشهد دارای ۱۸ فروشگاه در سراسر ایران می باشد و همراه با نمایندگان فعال خود در بیشتر از ۳۰ شهر ایران با بیشتر از ۶۶ تعداد فروشگاه حضور فعال دارد. </p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="icon_box icon_box_style4 box_shadow1">
						<div class="icon">
							<i class="ti-layers"></i>
						</div>
						<div class="icon_box_content">
							<h5>واحد تولید </h5>
							<p> تکنولوژی روز دنیا، بهترین مواد اولیه و نیروی انسانی توانمند سه رکن پویایی و پیشرفت برندی است که کوشیده با تکیه بر تولید محصول با کیفیت جایگاهی شاخص در صنعت فرش ماشینی را از آن خود سازد. آموزش مداوم، تحقیق برای توسعه و پایش مستمر آرای مشتریان ضامن موفقیت ما در تامین نیاز روز بازار فرش و رمز ماندگاری نام فرش مشهد در چند دهه است. </p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="icon_box icon_box_style4 box_shadow1">
						<div class="icon">
							<i class="ti-email"></i>
						</div>
						<div class="icon_box_content">
							<h5>واحد طراحی </h5>
							<p> خلاقیت، هنر و تجربه را به کار گرفته ایم و جدیدترین تکنیک ها و روش های طراحی را ابزار آن ساخته ایم تا بستری مناسب برای ارائه بهترین نقش ها در بازار داخلی و خارجی فراهم آورده و فرش ایرانی را آذین هر سرایی سازیم. این تیم از تکنولوژی روز دنیا و آخرین تکنیکها و آموزشها در رابطه با روش های طراحی و سلیقه روز دنیا بهره مند می باشد. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END SECTION WHY CHOOSE -->
	<!-- START SECTION TEAM -->
	<div class="section pb_70">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="heading_s1 text-center">
						<h2>							<img src="~/assets/images/slaogan.png" />
						</h2>
					</div>
					<p class="text-center leads">با استفاده از الیاف مرغوب شرکت درالون آلمان، بهترین و مرغوبترین رنگ ها و مواد شیمیایی کارخانجات ممتاز اروپا، پشم خالص  با برند سازمان پشم نیوزلند و نخ ابریشم طبیعی، حضور فرش مشهد در بازارهای داخلی و جهانی در طی ۴۰ سال تداوم داشته است. از نظر ما خوش نامی و محبوبیت برند فرش مشهد بدلیل مشتری مداری و استانداردهای بالای کیفیت و نیز نوآوری در طراحی و رنگ آمیزی می باشد. استفاده از تکنولوژی روز دنیا در تولید فرش ماشینی نیز تائیدی بر اهمیت تولید محصول با کیفیت در این شرکت می باشد.
					</p>
				</div>
			</div>
		 
		</div>
	</div>

	<div class="section bg-blue">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="heading_s1 text-center">
						<h2>سایر کارخانجات گروه صنعتی ممشهد</h2>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-9">
					<div class="testimonial_wrap testimonial_style1 carousel_slider owl-carousel owl-theme nav_style2" data-nav="true" data-dots="false" data-center="true" data-loop="true" data-autoplay="true" data-items='1'>
						<div class="testimonial_box">
							<div class="testimonial_desc">
								<p>
									شرکت ریسندگی مشهد در سال ۱۳۶۹ با ظرفیت تولید سالانه ۳۸۰۰ تن نخ اکریلیک آغاز به کار کرد و اکنون با تکیه بر کادر مجرب، ظرفیت تولید را به ۵۲۰۰ تن نخ اکریلیک نمره ۱۲ دولا، مورد استفاده در صنعت فرش ماشینی، افزایش داده است.
								</p>
							</div>
							<div class="author_wrap">
								<div class="author_img">
									<img src="~/assets/images/factory/1.jpg" />
								</div>
								<div class="author_name">
									<h6>شرکت ریسندگی مشهد</h6>
								</div>
							</div>
						</div>


						<div class="testimonial_box">
							<div class="testimonial_desc">
								<p>
									شرکت رنگرزی مشهد در سال ۱۳۷۲، با ظرفیت تولید سالانه ۴۵۰۰ تن الیاف اکریلیک آغاز به کار کرد و در حال حاضر ظرفیت تولید آن سالانه ۱۱،۰۰۰ تن رنگرزی الیاف اکریلیک و ۱۰۰ تن نخ پشم می باشد. شرکت رنگرزی مشهد یکی از بزرگترین واحد های تولیدی رنگرزی الیاف کشور می باشد.

								</p>
							</div>
							<div class="author_wrap">
								<div class="author_img">
									<img src="~/assets/images/factory/2.jpg" />
								</div>
								<div class="author_name">
									<h6>
										شرکت رنگرزی مشهد
									</h6>
								</div>
							</div>
						</div>


						<div class="testimonial_box">
							<div class="testimonial_desc">
								<p>
									شرکت فرش نگین یکی از بزرگترین و معتبرترین تولید کنندگان فرش ماشینی محسوب میشود که تولیدات آن عمدتاً فرشهای مرغوب ۵۰۰ شانه و ۷۰۰ شانه در طرح های سنتی و مدرن می باشد.‪ ‬شرکت فرش نگین در سال ۱۳۷۱ تاسیس و به بهره برداری رسیده است.

								</p>
							</div>
							<div class="author_wrap">
								<div class="author_img">
									<img src="~/assets/images/factory/3.jpg" />
								</div>
								<div class="author_name">
									<h6>
										شرکت فرش نگین
									</h6>
								</div>
							</div>
						</div>


						<div class="testimonial_box">
							<div class="testimonial_desc">
								<p>
									شرکت چرم مشهد با هدف رونق بخشیدن به تولیدات صنایع ملی بازار چرم، سال ۱۳۷۵ در زمینی به مساحت چهل هزار مترمربع به بهره برداری رسید. محصولات چرمی این کارخانه از چرم درجه یک و بسیار لطیفی تولید می شود که حاصل کار دست صنعتگران ماهر به همراه جدیدترین تکنولوژی صنعت چرم دنیاست.

								</p>
							</div>
							<div class="author_wrap">
								<div class="author_img">
									<img src="~/assets/images/factory/4.jpg" />
								</div>
								<div class="author_name">
									<h6>
										شرکت چرم مشهد
									</h6>
								</div>
							</div>
						</div>


						<div class="testimonial_box">
							<div class="testimonial_desc">
								<p>
									این شرکت بزرگترین و اولین تولید کننده انواع نان های ایرانی و اروپایی از جمله نان سنگگ، بربری، تافتون، انواع نانهای شیرین، دانمارکی و مافین به روش صنعتی با همکاری شرکتهای KONIG آلمان و BOHLER سوئیس در محیطی کاملا بهداشتی و بدون دخالت دست با ماشین آلات اتوماتیک و تکنولوژی روز دنیا می باشد.

								</p>
							</div>
							<div class="author_wrap">
								<div class="author_img">
									<img src="~/assets/images/factory/5.jpg" />
								</div>
								<div class="author_name">
									<h6>
										گندم دشت مشهد
									</h6>
								</div>
							</div>
						</div>


						<div class="testimonial_box">
							<div class="testimonial_desc">
								<p>
									شرکت حوله یاس سپید مشهد بزرگترین تولید کننده انواع حوله با ظرفیت بیش از 5 تن در روز با استفاده از پیشرفته ترین ماشین آلات اروپایی در بهار 96 افتتاح گردید.

								</p>
							</div>
							<div class="author_wrap">
								<div class="author_img">
									<img src="~/assets/images/factory/6.jpg" />
								</div>
								<div class="author_name">
									<h6>
										حوله یاس سپید مشهد
									</h6>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section pb_70 certificate-section">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-lg-3">
					<div class="icon_box icon_box_style1">
						<div class="icon">
							<img src="~/assets/images/certificates/anjoman-sanaye-nasaji_logo.jpg" />
						 
						</div>
						<div class="icon_box_content">
							<h5>گواهینامه عضویت انجمن صنایع نساجی</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="icon_box icon_box_style1">
						<div class="icon">
							<img src="~/assets/images/certificates/dralon_logo_.jpg" />
						</div>
						<div class="icon_box_content">
							<h5>دارا لیسانس شرکت درالون آلمان</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="icon_box icon_box_style1">
						<div class="icon">
							<img src="~/assets/images/certificates/iso.jpg" />
						</div>
						<div class="icon_box_content">
							<h5>دارا گواهی مدیریت کیفیت ISO 9001/2000</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="icon_box icon_box_style1">
						<div class="icon">
							<img src="~/assets/images/certificates/standard logo2.jpg" />
						</div>
						<div class="icon_box_content">
							<h5>دارای نشان استاندارد ملی ایران</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

@Html.Partial("FrontEnd/_NewsLetterPartial")


</div>
