
@{
		ViewBag.Title = "AboutValue";
		ViewBag.Canonical = "https://www.mashadcarpet.com/about/value";
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}


<div class="breadcrumb_section bg_gray page-title-mini">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="page-title">
					<h1>رسالت ها و ارزش ها</h1>
				</div>
			</div>
			<div class="col-md-6">
				<ol class="breadcrumb justify-content-md-end">
					<li class="breadcrumb-item"><a href="/">خانه</a></li>
					<li class="breadcrumb-item"><a href="/about">درباره ما</a></li>
					<li class="breadcrumb-item active">رسالت ها و ارزش ها</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="main_content ">

 
 
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="term_conditions">
						<h6>رسالت فرش مشهد</h6>
						<p>ما همواره با تکیه بر شعار پیشتاز در کیفیت و نو آوری به دنبال راهها ، الگوها ، استانداردها و فن آوری های جدیدی برای بکارگیری و ارتقاء‌ سطح منابع ارزشمند انسانی ،‌ مالی ، ماشین آلات و تکنولوژی ‌به منظور ارتقاء کیفیت ، بهره وری و سودآوری بیشتر در سازمان با حفظ محیط زیست و همچنین ایجاد زندگی بهتری برای هموطنان و مشتریانمان هستیم . رسالت ما افزایش ارزش و محبوبیت شرکت نزد مشتریان ،‌ کارکنان ، تامین کنندگان و سهامداران است که این امر از طریق عرضه محصولات ارزنده و بهترین فرش در ایران و بازارهای خارجی ( پنج قاره جهان ) و همچنین ارائه خدمات نیکوکاری ، اجتماعی و عام المنفعه بخصوص در زمینه گسترش آموزشهای فنی و حرفه ای و همچنین ارتقاء سطح زندگی معلولین جامعه انجام می‌گیرد .
						</p>
						<hr>
						<div class="row">
							<div class="col-lg-6">

								<img src="~/assets/images/about/mashadcarpet-value.jpeg" />
							</div>
							<div class="col-lg-6">
								<h6>ارزش های فرش مشهد</h6>
								 <ol>
									<li>جلب نظر مشتری
									</li>
									<li>کارآفرینی
									</li>
									<li>حفظ آبروی شرکت
									</li>
									<li>تکنولوژی برتر
									</li>
									<li>فرش برتر


									</li>
								</ol>
							</div>

						</div>
					
						<hr>
						<h6>استانداردهای کیفیت</h6>
						<p>یکی از افتخارات فرش مشهد کیفیت برتر آن است. لذا مواد اولیه از مرحله رنگرزی تا ریسندگی، بافندگی، تکمیل، بسته بندی محصول، انبارش و حمل تحت نظر واحد کنترل کیفیت بوده و براساس استانداردها کنترل می شوند. پرسنل در مراحل تولید با استفاده از دستورالعمل و آئین نامه کیفیت، هدف ها را محقق ساخته و متعهد به پیاده سازی و پیگیری آن ها هستند.
						</p>
						<p>
							نگهداری و عملکرد ماشین آلات و تجهیزات همواره تحت نظر و بررسی مداوم بوده تا کیفیت مطلوب حفظ گردد.

						</p>
						<hr>
						<h6>خط مشی کیفیت
						</h6>
						<p>تعهد به بهبود مستمر در عملکرد با کیفیت و اثر بخشی سیستم مدیریت کیفیت.
						</p>
						<p>تعهد به رعایت و تبعیت از قوانین و مقررات و سایر الزامات و استاندارد های ملی در زمینه های کیفیتی و تامین رضایت مشتریان سازمان.
						</p>
						<p>استفاده بهینه از کلیه منابع شامل برای تولید برترین فرش ماشینی: مواد اولیه، انرژی، نیروی انسانی، تجهیزات و منابع مالی با هدف افزایش بهره وری در سازمان.
						</p>
						<p>توجه به نظریات و لحاظ نمودن خواسته های مشتریان و طرف های ذینفع در تدوین اهداف شرکت با توجه به توانایی­ ها و قابلیت­ های سازمان.
						</p>
						<p>جلب مشارکت و افزایش کار مفید کلیه کارکنان و استفاده بهینه از قابلیت ها و توانایی های آنها در جهت اهداف سازمان که متضمن تامین نیازهای کارکنان نیز می­ باشد.
						</p>
						<p>بهره گیری و توسعه فعالیت های آموزشی همگام با نیازهای شرکت و فنون و دانش روز.
						</p>
						<p>در نظر گرفتن ایمنی کار در فعالیت های سازمان.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

 

	@Html.Partial("FrontEnd/_NewsLetterPartial")


</div>
