
@{
		ViewBag.Title = "سوالات متداول";
		ViewBag.Canonical = "https://www.mashadcarpet.com/faq";
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}

<div class="breadcrumb_section bg_gray page-title-mini">
	<div class="container">
		<!-- STRART CONTAINER -->
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="page-title">
					<h1>سوالات متداول</h1>
				</div>
			</div>
			<div class="col-md-6">
				<ol class="breadcrumb justify-content-md-end">
					<li class="breadcrumb-item"><a href="/">خانه</a></li>
					<li class="breadcrumb-item active">سوالات متداول</li>
				</ol>
			</div>
		</div>
	</div><!-- END CONTAINER-->
</div>
<div class="main_content">

	<!-- STAT SECTION FAQ -->
	<div class="section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="heading_s1 mb-3 mb-md-5">
						<h3>سوالات عمومی</h3>
					</div>
					<div id="accordion" class="accordion accordion_style1">
						<div class="card">
							<div class="card-header" id="headingOne">
								<h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">چطور سفارش برای من ارسال می شود؟</a> </h6>
							</div>
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									<p>در هر دو صورت خرید از فروشگاههای رسمی شرکت و خرید اینترنتی فرش، کالا به صورت رایگان ارسال می شود.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo">
								<h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">چطور می توانم هزیبه سفارش را پرداخت کنم؟</a> </h6>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="card-body">
									<p>در صورت خرید از فروشگاه به صورت نقدی و در صورت خرید اینترنتی از روش پرداخت آنلاین صورت می گیرد.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingThree">
								<h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">آیا امکان برگشت محصول وجود دارد؟</a> </h6>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="card-body">
									<p>تا ۴۸ ساعت امکان تعویض محصول وجود دارد.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingFour">
								<h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">خدمات پس از فروش محصولات چگونه است؟</a> </h6>
							</div>
							<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
								<div class="card-body">
									<p>در صورت مواجه با هر گونه مشکل فنی با واحد پاسخگویی به شکایات مشتریان با شماره تماس	۰۵۱۳-۵۴۲۲۴۸۲-۳ اقای مغنی تماس حاصل فرمایید.</p>
							 
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingFive">
								<h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">مراحل اخذ نمایندگی فرش مشهد چگونه است؟</a> </h6>
							</div>
							<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
								<div class="card-body">
									<p>برای اطلاع از مراحل اخذ نمایندگی فرش مشهد با دفتر مرکزی با شماره تماس ۲۲۰۱۲۷۵۰-۰۲۱  تماس حاصل فرمایید.</p>
							 
								</div>
							</div>
						</div>
				 
					</div>
				</div>
				<div class="col-md-6 mt-4 mt-md-0">
					<div class="heading_s1 mb-3 mb-md-5">
						<h3>سوالات مربوط به فروشگاه اینترنتی</h3>
					</div>
					<div id="accordion2" class="accordion accordion_style1">
						<div class="card">
							<div class="card-header" id="headingOne2">
								<h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">چطور سفارش برای من ارسال می شود؟</a> </h6>
							</div>
							<div id="collapseOne2" class="collapse show" aria-labelledby="headingOne2" data-parent="#accordion">
								<div class="card-body">
									<p>در هر دو صورت خرید از فروشگاههای رسمی شرکت و خرید اینترنتی فرش، کالا به صورت رایگان ارسال می شود.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo2">
								<h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">چطور می توانم هزیبه سفارش را پرداخت کنم؟</a> </h6>
							</div>
							<div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordion">
								<div class="card-body">
									<p>در صورت خرید از فروشگاه به صورت نقدی و در صورت خرید اینترنتی از روش پرداخت آنلاین صورت می گیرد.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingThree2">
								<h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">آیا امکان برگشت محصول وجود دارد؟</a> </h6>
							</div>
							<div id="collapseThree2" class="collapse" aria-labelledby="headingThree2" data-parent="#accordion">
								<div class="card-body">
									<p>
										تا ۴۸ ساعت امکان تعویض محصول وجود دارد.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingFour2">
								<h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2">خدمات پس از فروش محصولات چگونه است؟</a> </h6>
							</div>
							<div id="collapseFour2" class="collapse" aria-labelledby="headingFour2" data-parent="#accordion">
								<div class="card-body">
									<p>در صورت مواجه با هر گونه مشکل فنی با واحد پاسخگویی به شکایات مشتریان با شماره تماس	۰۵۱۳-۵۴۲۲۴۸۲-۳ اقای مغنی تماس حاصل فرمایید.</p>

								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingFive2">
								<h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseFive2" aria-expanded="false" aria-controls="collapseFive2">مراحل اخذ نمایندگی فرش مشهد چگونه است؟</a> </h6>
							</div>
							<div id="collapseFive2" class="collapse" aria-labelledby="headingFive2" data-parent="#accordion">
								<div class="card-body">
									<p>برای اطلاع از مراحل اخذ نمایندگی فرش مشهد با دفتر مرکزی با شماره تماس ۲۲۰۱۲۷۵۰-۰۲۱  تماس حاصل فرمایید.</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@Html.Partial("FrontEnd/_NewsLetterPartial")


</div>