
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="Anil z" name="author">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Shopwise is Powerful features and You Can Use The Perfect Build this Template For Any eCommerce Website. The template is built for sell Fashion Products, Shoes, Bags, Cosmetics, Clothes, Sunglasses, Furniture, Kids Products, Electronics, Stationery Products and Sporting Goods.">
	<meta name="keywords" content="ecommerce, electronics store, Fashion store, furniture store,  bootstrap 4, clean, minimal, modern, online store, responsive, retail, shopping, ecommerce store">

	<!-- SITE TITLE -->
	<title>Shopwise - eCommerce Bootstrap 4 HTML Template</title>
	<!-- Favicon Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">
	<!-- Animation CSS -->
	<link rel="stylesheet" href="/assets/css/animate.css">
	<!-- Latest Bootstrap min CSS -->
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
	<!-- Icon Font CSS -->
	<link rel="stylesheet" href="/assets/css/all.min.css">
	<link rel="stylesheet" href="/assets/css/ionicons.min.css">
	<link rel="stylesheet" href="/assets/css/themify-icons.css">
	<link rel="stylesheet" href="/assets/css/linearicons.css">
	<link rel="stylesheet" href="/assets/css/flaticon.css">
	<link rel="stylesheet" href="/assets/css/simple-line-icons.css">
	<!--- owl carousel CSS-->
	<link rel="stylesheet" href="/assets/owlcarousel/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/owlcarousel/css/owl.theme.css">
	<link rel="stylesheet" href="/assets/owlcarousel/css/owl.theme.default.min.css">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<!-- Slick CSS -->
	<link rel="stylesheet" href="/assets/css/slick.css">
	<link rel="stylesheet" href="/assets/css/slick-theme.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/responsive.css">
	<!-- RTL CSS -->
	<link rel="stylesheet" href="/assets/css/rtl-style.css">
	<link href="~/assets/css/style-zavosh.css" rel="stylesheet" />
</head>

<body dir="rtl">

 
	<header class="header_wrap fixed-top header_with_topbar">
		<div class="top-header">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-6">
						<div class="d-flex align-items-center justify-content-center justify-content-md-start">
							<div class="lng_dropdown mr-2">
								<select name="countries" class="custome_select">
									<option value='fa' data-image="/assets/images/ir.jpg" data-title="Persian">فارسی</option>
									<option value='en' data-image="/assets/images/eng.png" data-title="English">English</option>
							 
								</select>
							</div>
						 
							<ul class="contact_detail text-center text-lg-left">
								<li><i class="ti-mobile"></i><span>021-22012612</span></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="text-center text-md-right">
							<ul class="header_list">
								<li><a href="/login"><i class="ti-user"></i><span>ورود</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom_header dark_skin main_menu_uppercase">
			<div class="container">
				<nav class="navbar navbar-expand-lg">
					<a class="navbar-brand" href="/">
						<img class="logo_light" src="/assets/images/logo.png" alt="logo" />
						<img class="logo_dark" src="/assets/images/logo.png" alt="logo" />
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
						<span class="ion-android-menu"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li><a class="nav-link nav_item active" href="/">خانه</a></li>
					
						<li class="dropdown">
							<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">محصولات</a>
							<div class="dropdown-menu">
								<ul> 
									<li><a class="dropdown-item nav-link nav_item" href="#">فرش اکریلیک - ۱۲۰۰ شانه - ۸ رنگ - تراکم ۳۶۰۰</a></li>
									<li><a class="dropdown-item nav-link nav_item" href="#">فرش اکریلیک - 1000 شانه - ۸ رنگ - تراکم 3000</a></li>
									<li><a class="dropdown-item nav-link nav_item" href="#">فرش اکریلیک - 700 شانه - ۸ رنگ - تراکم 2100</a></li>
									<li><a class="dropdown-item nav-link nav_item" href="#">فرش اکریلیک - 500 شانه - ۸ رنگ - تراکم 1000</a></li>
									<li><a class="dropdown-item nav-link nav_item" href="#">فرش اکریلیک - 1500 شانه - ۸ رنگ - تراکم 4500</a></li>
									<li><a class="dropdown-item nav-link nav_item" href="#">فرش اکریلیک - 700 شانه - ۸ رنگ - تراکم 2550</a></li>
									<li><a class="dropdown-item nav-link nav_item" href="#">فرش اکریلیک - 700 شانه - ۸ رنگ - تراکم 1400</a></li>
									<li><a class="dropdown-item nav-link nav_item" href="#">فرش اکریلیک - 350 شانه - ۸ رنگ - تراکم 1600</a></li>
								
								</ul>
							</div>
						</li>
		 
		 
					<li><a class="nav-link nav_item" href="/">اخبار و تازه ها</a></li>
					<li><a class="nav-link nav_item" href="/">شعب</a></li>
					<li><a class="nav-link nav_item" href="/">باشگاه مشتریان</a></li>
					<li><a class="nav-link nav_item" href="/">درباره ما</a></li>
					<li><a class="nav-link nav_item" href="/">تماس با ما</a></li>
					</ul>
					</div>
					<ul class="navbar-nav attr-nav align-items-center">
						<li>
							<a href="javascript:void(0);" class="nav-link search_trigger"><i class="linearicons-magnifier"></i></a>
							<div class="search_wrap">
								<span class="close-search"><i class="ion-ios-close-empty"></i></span>
								<form>
									<input type="text" placeholder="Search" class="form-control" id="search_input">
									<button type="submit" class="search_icon"><i class="ion-ios-search-strong"></i></button>
								</form>
							</div><div class="search_overlay"></div>
						</li>
						<li class="dropdown cart_dropdown">
							<a class="nav-link cart_trigger" href="#" data-toggle="dropdown"><i class="linearicons-cart"></i><span class="cart_count">2</span></a>
							<div class="cart_box dropdown-menu dropdown-menu-right">
								<ul class="cart_list">
									<li>
										<a href="#" class="item_remove"><i class="ion-close"></i></a>
										<a href="#"><img src="/assets/images/cart_thamb1.jpg" alt="cart_thumb1">Variable product 001</a>
										<span class="cart_quantity"> 1 x <span class="cart_amount"> <span class="price_symbole">$</span></span>78.00</span>
									</li>
									<li>
										<a href="#" class="item_remove"><i class="ion-close"></i></a>
										<a href="#"><img src="/assets/images/cart_thamb2.jpg" alt="cart_thumb2">Ornare sed consequat</a>
										<span class="cart_quantity"> 1 x <span class="cart_amount"> <span class="price_symbole">$</span></span>81.00</span>
									</li>
								</ul>
								<div class="cart_footer">
									<p class="cart_total"><strong>Subtotal:</strong> <span class="cart_price"> <span class="price_symbole">$</span></span>159.00</p>
									<p class="cart_buttons"><a href="#" class="btn btn-fill-line rounded-0 view-cart">View Cart</a><a href="#" class="btn btn-fill-out rounded-0 checkout">Checkout</a></p>
								</div>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- END HEADER -->
	<!-- START SECTION BANNER -->
	<div class="banner_section slide_medium shop_banner_slider staggered-animation-wrap">
		<div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active background_bg" data-img-src="/assets/images/slide1.jpg" onclick="window.location.href='/pro';">
					<div class="banner_slide_content">
			 
					</div>
				</div>
				<div class="carousel-item background_bg" data-img-src="/assets/images/slide2.jpg" onclick="window.location.href='/pro';">
					<div class="banner_slide_content">
				 
					</div>
				</div>
		 
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><i class="ion-chevron-left"></i></a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><i class="ion-chevron-right"></i></a>
		</div>
	</div>

	<div class="section small_pb small_pt bg-blue">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="heading_s4 text-center">
						<h2>فروشگاه اینترنتی فرش مشهد</h2>
					</div>
					<p class="text-center leads">محصولات فروشگاه اینترنتی فرش مشهد را می توانید در قالب گروه های زیر مشاهده و خریداری نمایید.</p>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-12">
					<div class="cat_slider cat_style1 mt-4 mt-md-0 carousel_slider owl-carousel owl-theme nav_style5" data-loop="true" data-autoplay="true" data-dots="false" data-nav="true" data-margin="30" data-responsive='{"0":{"items": "2"}, "480":{"items": "3"}, "576":{"items": "2"}, "768":{"items": "4"}, "991":{"items": "4"}, "1199":{"items": "4"}}'>
						<div class="item">
							<div class="categories_box">
								<a href="#">
									<img src="/assets/images/pg/1.jpg" alt="cat_img1" />
									<span>فرش اکریلیک - ۱۲۰۰ شانه - ۸ رنگ - تراکم ۳۶۰۰</span>
								</a>
							</div>
						</div>
						<div class="item">
							<div class="categories_box">
								<a href="#">
									<img src="/assets/images/pg/2.jpg" alt="cat_img1" />
									<span>فرش اکریلیک - ۱۲۰۰ شانه - ۸ رنگ - تراکم ۳۶۰۰</span>
								</a>
							</div>
						</div>
						<div class="item">
							<div class="categories_box">
								<a href="#">
									<img src="/assets/images/pg/3.jpg" alt="cat_img1" />
									<span>فرش اکریلیک - ۱۲۰۰ شانه - ۸ رنگ - تراکم ۳۶۰۰</span>
								</a>
							</div>
						</div>
						<div class="item">
							<div class="categories_box">
								<a href="#">
									<img src="/assets/images/pg/4.jpg" alt="cat_img1" />
									<span>فرش اکریلیک - ۱۲۰۰ شانه - ۸ رنگ - تراکم ۳۶۰۰</span>
								</a>
							</div>
						</div>
						<div class="item">
							<div class="categories_box">
								<a href="#">
									<img src="/assets/images/pg/5.jpg" alt="cat_img1" />
									<span>فرش اکریلیک - ۱۲۰۰ شانه - ۸ رنگ - تراکم ۳۶۰۰</span>
								</a>
							</div>
						</div>
						<div class="item">
							<div class="categories_box">
								<a href="#">
									<img src="/assets/images/pg/6.jpg" alt="cat_img1" />
									<span>فرش اکریلیک - ۱۲۰۰ شانه - ۸ رنگ - تراکم ۳۶۰۰</span>
								</a>
							</div>
						</div>
						<div class="item">
							<div class="categories_box">
								<a href="#">
									<img src="/assets/images/pg/7.jpg" alt="cat_img1" />
									<span>فرش اکریلیک - ۱۲۰۰ شانه - ۸ رنگ - تراکم ۳۶۰۰</span>
								</a>
							</div>
						</div>
						<div class="item">
							<div class="categories_box">
								<a href="#">
									<img src="/assets/images/pg/8.jpg" alt="cat_img1" />
									<span>فرش اکریلیک - ۱۲۰۰ شانه - ۸ رنگ - تراکم ۳۶۰۰</span>
								</a>
							</div>
						</div>
					 
					</div>
				</div>
			</div>
		</div>
	</div>
	

<div class="main_content">
 
		<div class="section small_pt pb_70">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6">
						<div class="heading_s1 text-center">
							<h2>برترین محصولات فرش مشهد</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="tab-style1">
						 
						</div>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="arrival" role="tabpanel" aria-labelledby="arrival-tab">
								<div class="row shop_container">
									@for (int i = 0; i < 8; i++)
									{
										<div class="col-lg-3 col-md-4 col-6">
											<div class="product">
												<div class="">
													<a href="/product/222">
														<img src="/assets/images/p/2.jpg" alt="product_img1">
													</a>
										 
												</div>
												<div class="product_info">
													<h6 class="product_title"><a href="/product/222">محصول کرم کد 1002</a></h6>
													<div class="product_price">
														<span class="price">1240000 تومان</span>
														<del>1870000 تومان</del>
													</div>
													<div class="card-btn">
														<a class="btn btn-fill-out rounded-0" href="">خرید</a>
													</div>
												</div>
											</div>
										</div>
									}
						
					 
								</div>
							</div>
				 
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END SECTION SHOP -->
		<!-- START SECTION SINGLE BANNER -->
		<div class="section bg_light_blue2 pb-0 pt-md-0">
			<div class="container">
				<div class="row align-items-center flex-row-reverse">
					<div class="col-md-6 offset-md-1">
						<div class="medium_divider d-none d-md-block clearfix"></div>
						<div class="trand_banner_text text-center text-md-left">
							<div class="heading_s1 mb-3">
								<span class="sub_heading">خرید آنلاین فرش ماشینی</span>
								<h2>فرش مشهد، فرش برتر</h2>
							</div>
							<h5 class="mb-4">تا 15 تخفیف خرید آنلاین</h5>
							<a href="shop-left-sidebar.html" class="btn btn-fill-out rounded-0">مشاهده محصولات</a>
						</div>
						<div class="medium_divider clearfix"></div>
					</div>
					<div class="col-md-5">
						<div class="text-center trading_img">
							<img src="/assets//images/banner1111.jpg" alt="tranding_img" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END SECTION SINGLE BANNER -->
		<!-- START SECTION SHOP -->
		<div class="section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6">
						<div class="heading_s1 text-center">
							<h2>جدیدترین محصولات</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="product_slider carousel_slider owl-carousel owl-theme nav_style1" data-loop="true" data-dots="false" data-nav="true" data-margin="20" data-responsive='{"0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "3"}, "1199":{"items": "4"}}'>
					
						@for (int i = 0; i < 8; i++)
						{
							<div class="item">
								<div class="product">
									<div class="">
										<a href="/product/222">
											<img src="/assets/images/p/2.jpg" alt="product_img1">
										</a>
									</div>
									<div class="product_info">
										<h6 class="product_title"><a href="/product/222">محصول کرم کد 1002</a></h6>
										<div class="product_price">
											<span class="price">1240000 تومان</span>
											<del>1870000 تومان</del>
										</div>
										<div class="card-btn">
											<a class="btn btn-fill-out rounded-0" href="">خرید</a>
										</div>
									</div>
								</div>
							</div>
						}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END SECTION SHOP -->
		<!-- START SECTION TESTIMONIAL -->
		<div class="section bg-blue">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6">
						<div class="heading_s1 text-center">
							<h2>سایر کارخانجات گروه صنعتی ممشهد</h2>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-9">
						<div class="testimonial_wrap testimonial_style1 carousel_slider owl-carousel owl-theme nav_style2" data-nav="true" data-dots="false" data-center="true" data-loop="true" data-autoplay="true" data-items='1'>
							<div class="testimonial_box">
								<div class="testimonial_desc">
									<p>
										شرکت ریسندگی مشهد در سال ۱۳۶۹ با ظرفیت تولید سالانه ۳۸۰۰ تن نخ اکریلیک آغاز به کار کرد و اکنون با تکیه بر کادر مجرب، ظرفیت تولید را به ۵۲۰۰ تن نخ اکریلیک نمره ۱۲ دولا، مورد استفاده در صنعت فرش ماشینی، افزایش داده است.
									</p>
								</div>
								<div class="author_wrap">
									<div class="author_img">
										<img src="~/assets/images/factory/1.jpg" />
									</div>
									<div class="author_name">
										<h6>شرکت ریسندگی مشهد</h6>
									</div>
								</div>
							</div>
					
							
		<div class="testimonial_box">
								<div class="testimonial_desc">
									<p>
										شرکت رنگرزی مشهد در سال ۱۳۷۲، با ظرفیت تولید سالانه ۴۵۰۰ تن الیاف اکریلیک آغاز به کار کرد و در حال حاضر ظرفیت تولید آن سالانه ۱۱،۰۰۰ تن رنگرزی الیاف اکریلیک و ۱۰۰ تن نخ پشم می باشد. شرکت رنگرزی مشهد یکی از بزرگترین واحد های تولیدی رنگرزی الیاف کشور می باشد.

									</p>
								</div>
								<div class="author_wrap">
									<div class="author_img">
										<img src="~/assets/images/factory/2.jpg" />
									</div>
									<div class="author_name">
										<h6>شرکت رنگرزی مشهد
										</h6>
									</div>
								</div>
							</div>
					
							
		<div class="testimonial_box">
								<div class="testimonial_desc">
									<p>
										شرکت فرش نگین یکی از بزرگترین و معتبرترین تولید کنندگان فرش ماشینی محسوب میشود که تولیدات آن عمدتاً فرشهای مرغوب ۵۰۰ شانه و ۷۰۰ شانه در طرح های سنتی و مدرن می باشد.‪ ‬شرکت فرش نگین در سال ۱۳۷۱ تاسیس و به بهره برداری رسیده است.

									</p>
								</div>
								<div class="author_wrap">
									<div class="author_img">
										<img src="~/assets/images/factory/3.jpg" />
									</div>
									<div class="author_name">
										<h6>شرکت فرش نگین
										</h6>
									</div>
								</div>
							</div>
					
							
		<div class="testimonial_box">
								<div class="testimonial_desc">
									<p>
										شرکت چرم مشهد با هدف رونق بخشیدن به تولیدات صنایع ملی بازار چرم، سال ۱۳۷۵ در زمینی به مساحت چهل هزار مترمربع به بهره برداری رسید. محصولات چرمی این کارخانه از چرم درجه یک و بسیار لطیفی تولید می شود که حاصل کار دست صنعتگران ماهر به همراه جدیدترین تکنولوژی صنعت چرم دنیاست.

									</p>
								</div>
								<div class="author_wrap">
									<div class="author_img">
										<img src="~/assets/images/factory/4.jpg" />
									</div>
									<div class="author_name">
										<h6>شرکت چرم مشهد
										</h6>
									</div>
								</div>
							</div>
					
							
		<div class="testimonial_box">
								<div class="testimonial_desc">
									<p>
										این شرکت بزرگترین و اولین تولید کننده انواع نان های ایرانی و اروپایی از جمله نان سنگگ، بربری، تافتون، انواع نانهای شیرین، دانمارکی و مافین به روش صنعتی با همکاری شرکتهای KONIG آلمان و BOHLER سوئیس در محیطی کاملا بهداشتی و بدون دخالت دست با ماشین آلات اتوماتیک و تکنولوژی روز دنیا می باشد.

									</p>
								</div>
								<div class="author_wrap">
									<div class="author_img">
										<img src="~/assets/images/factory/5.jpg" />
									</div>
									<div class="author_name">
										<h6>گندم دشت مشهد
										</h6>
									</div>
								</div>
							</div>
					
							
		<div class="testimonial_box">
								<div class="testimonial_desc">
									<p>
										شرکت حوله یاس سپید مشهد بزرگترین تولید کننده انواع حوله با ظرفیت بیش از 5 تن در روز با استفاده از پیشرفته ترین ماشین آلات اروپایی در بهار 96 افتتاح گردید.

									</p>
								</div>
								<div class="author_wrap">
									<div class="author_img">
										<img src="~/assets/images/factory/6.jpg" />
									</div>
									<div class="author_name">
										<h6>حوله یاس سپید مشهد
										</h6>
									</div>
								</div>
							</div> 
							

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END SECTION TESTIMONIAL -->
		<!-- START SECTION SHOP INFO -->
	<div class="section pb_20">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-8">
					<div class="heading_s1 text-center">
						<h2>اخبار و تازه ها</h2>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6">
					<div class="blog_post blog_style2 box_shadow1">
						<div class="blog_img">
							<a href="blog-single.html">
								<img src="/assets/images/blog/1.jpg" alt="el_blog_img1">
							</a>
						</div>
						<div class="blog_content bg-white">
							<div class="blog_text">
								<h5 class="blog_title"><a href="blog-single.html">لکه بر فرش
								</a></h5>
								<ul class="list_none blog_meta">
									<li><a href="#"><i class="ti-calendar"></i> 21 مهر 1399</a></li>
									<li><a href="#"><i class="ti-comments"></i> 2 نظر</a></li>
								</ul>
								<p>لکه بر فرش بر روی انواع لکه های حاصل از روی غذا و خورشت،رب ادویه، چای،قهوه،نوشابه،شیر،شیر کاکائو،رژ لب،واکس،روغن های صنعتی و گریس مناسب بوده و کاملا آنها را پاک می کند.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog_post blog_style2 box_shadow1">
						<div class="blog_img">
							<a href="blog-single.html">
								<img src="/assets/images/blog/2.jpg" alt="el_blog_img2">
							</a>
						</div>
						<div class="blog_content bg-white">
							<div class="blog_text">
								<h5 class="blog_title"><a href="blog-single.html">اطلاعیه فرش مشهد در خصوص فروشندگان اینترنتی
								</a></h5>
								<ul class="list_none blog_meta">
									<li><a href="#"><i class="ti-calendar"></i> 21 مهر 1399</a></li>
									<li><a href="#"><i class="ti-comments"></i> 2 نظر</a></li>
								</ul>
								<p>هرگونه سایت و فروشگاه اینترنتی که تحت عنوان فرش مشهد، محصولات این شرکت را عرضه می نماید مطلقا مورد تایید این شرکت نمی باشد </p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog_post blog_style2 box_shadow1">
						<div class="blog_img">
							<a href="blog-single.html">
								<img src="/assets/images/blog/3.jpg" alt="el_blog_img2">
							</a>
						</div>
						<div class="blog_content bg-white">
							<div class="blog_text">
								<h5 class="blog_title"><a href="blog-single.html">ویژگی های فرش ماشینی درجه یک
								</a></h5>
								<ul class="list_none blog_meta">
									<li><a href="#"><i class="ti-calendar"></i> 21 مهر 1399</a></li>
									<li><a href="#"><i class="ti-comments"></i> 2 نظر</a></li>
								</ul>
								<p>به طور کلی فرش ماشینی از نظر کیفیت به 5 درجه تقسیم بندی می شود، قالی های درجه یک یا S می بایست دارای خصوصیات بارز و ممتازی باشد و هیچ گونه ایراد یا نقصی به آن وارد نشود</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<!-- END SECTION SHOP INFO -->
		<!-- START SECTION SUBSCRIBE NEWSLETTER -->
		<div class="section bg_default small_pt small_pb">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-6">
						<div class="heading_s1 mb-md-0 heading_light">
							<h3>در خبرنامه فرش مشهد ثبت نام کنید</h3>
						</div>
					</div>
					<div class="col-md-6">
						<div class="newsletter_form">
							<form>
								<input type="text" required="" class="form-control rounded-0" placeholder="ایمیل خود را وارد کنید">
								<button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">ثبت نام</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- START SECTION SUBSCRIBE NEWSLETTER -->

	</div>
	<!-- END MAIN CONTENT -->
	<!-- START FOOTER -->
	<footer class="bg_gray">
		<div class="footer_top small_pt pb_20">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="widget">
							<div class="footer_logo">
								<a href="#"><img src="/assets/images/logo.png" alt="logo" /></a>
							</div>
							<p class="mb-3">شرکت فرش مشهد بزرگترین عضو گروه صنعتی مشهد و یکی از بزرگترین تولید کنندگان فرش ماشینی در ایران می باشد همچنین مفتخریم طی سالها بهترین فرش ماشینی با بالاترین کیفیت را به ایرانیان عزیز عرضه کرده ایم. این شرکت در سال ۱۳۵۶ در مشهد، دومین شهر بزرگ ایران، با ظرفیت تولید سالانه ۲۴۰،۰۰۰ متر مربع آغاز به کار کرد. </p>
					 
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-6">
						<div class="widget">
							<h6 class="widget_title">لینک های مفید
							</h6>
							<ul class="widget_links">
								<li><a href="#">انواع فرش ماشینی</a></li>
								<li><a href="#">مسئولیت اجتماعی</a></li>
								<li><a href="#">سوالات متداول</a></li>
								<li><a href="#">شعب فرش مشهد</a></li>
								<li><a href="#">شرایط و قوانین</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-6">
						<div class="widget">
							<h6 class="widget_title">حساب کاربری</h6>
							<ul class="widget_links">
								<li><a href="#">پروفایل</a></li>
								<li><a href="#">تاریخچه سفارشات</a></li>
								<li><a href="#">پیگیری سفارش</a></li>
								<li><a href="#">باشگاه مشتریان</a></li>
								<li><a href="#">شرایط برگشت کالا</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="widget">
							<h6 class="widget_title">اطلاعات تماس</h6>
			 
						
							<ul class="contact_info">
								<li>
									<i class="ti-location-pin"></i>
									<p><strong>دفتر مرکزی: </strong> تهران، خیابان ولیعصر، خیابان عاطفی، پلاک ۱۰۰، طبقه چهارم</p>
								 
								</li>
								<li>
									<i class="ti-location-pin"></i>
									<p><strong>کارخانه: </strong>مشهد کیلومتر ۱۸ جاده قوچان</p>
								 
								</li>
								<li>
									<i class="ti-email"></i>
									<a href="mailto:info@mashadcarpet.com">info [at] mashadcarpet.com</a>
								</li>
								<li>
									<i class="ti-mobile"></i>
									<p>   22012612 21 98+ ,  5422483 513 98+ </p>
								</li>
							</ul> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="middle_footer">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="shopping_info">
							<div class="row justify-content-center">
								<div class="col-md-4">
									<div class="icon_box icon_box_style2">
										<div class="icon">
											<i class="flaticon-shipped"></i>
										</div>
										<div class="icon_box_content">
											<h5>ارسال رایگان</h5>
											<p>کلیه سفارشات فروشگاه اینترنتی فرش مشهد به صورت رایگان ارسال می گردد</p>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="icon_box icon_box_style2">
										<div class="icon">
											<i class="flaticon-money-back"></i>
										</div>
										<div class="icon_box_content">
											<h5>برگشت کالا</h5>
											<p>امکان برگشت کالا تا 48 ساعت بعد از تحویل سفارش</p>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="icon_box icon_box_style2">
										<div class="icon">
											<i class="flaticon-support"></i>
										</div>
										<div class="icon_box_content">
											<h5>خدمات پس از فروش</h5>
											<p>در صورت بروز هرگونه مشکل می توانید با تلفن 0513-5422482 تماس بگیرید</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom_footer border-top-tran">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-4">
						<p class="mb-lg-0 text-center">© 2020 All Rights Reserved by Bestwebcreator</p>
					</div>
					<div class="col-lg-4 order-lg-first">
						<div class="widget mb-lg-0">
							<ul class="social_icons text-center text-lg-left">
								<li><a href="#" class="sc_facebook"><i class="ion-social-facebook"></i></a></li>
								<li><a href="#" class="sc_twitter"><i class="ion-social-twitter"></i></a></li>
								<li><a href="#" class="sc_google"><i class="ion-social-googleplus"></i></a></li>
								<li><a href="#" class="sc_youtube"><i class="ion-social-youtube-outline"></i></a></li>
								<li><a href="#" class="sc_instagram"><i class="ion-social-instagram-outline"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4">
						<ul class="footer_payment text-center text-lg-right">
							<li><a href="#"><img src="/assets/images/visa.png" alt="visa"></a></li>
							<li><a href="#"><img src="/assets/images/discover.png" alt="discover"></a></li>
							<li><a href="#"><img src="/assets/images/master_card.png" alt="master_card"></a></li>
							<li><a href="#"><img src="/assets/images/paypal.png" alt="paypal"></a></li>
							<li><a href="#"><img src="/assets/images/amarican_express.png" alt="amarican_express"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- END FOOTER -->

	<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

	<!-- Latest jQuery -->
	<script src="/assets/js/jquery-1.12.4.min.js"></script>
	<!-- popper min js -->
	<script src="/assets/js/popper.min.js"></script>
	<!-- Latest compiled and minified Bootstrap -->
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- owl-carousel min js  -->
	<script src="/assets/owlcarousel/js/owl.carousel.min.js"></script>
	<!-- magnific-popup min js  -->
	<script src="/assets/js/magnific-popup.min.js"></script>
	<!-- waypoints min js  -->
	<script src="/assets/js/waypoints.min.js"></script>
	<!-- parallax js  -->
	<script src="/assets/js/parallax.js"></script>
	<!-- countdown js  -->
	<script src="/assets/js/jquery.countdown.min.js"></script>
	<!-- imagesloaded js -->
	<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
	<!-- isotope min js -->
	<script src="/assets/js/isotope.min.js"></script>
	<!-- jquery.dd.min js -->
	<script src="/assets/js/jquery.dd.min.js"></script>
	<!-- slick js -->
	<script src="/assets/js/slick.min.js"></script>
	<!-- elevatezoom js -->
	<script src="/assets/js/jquery.elevatezoom.js"></script>
	<!-- scripts js -->
	<script src="/assets/js/scripts.js"></script>

</body>
</html>