
@{
		ViewBag.Title = "مسئولیت اجتماعی فرش مشهد";
		ViewBag.Canonical = "https://www.mashadcarpet.com/corporate-social-responsibility";
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}
<div class="breadcrumb_section bg_gray page-title-mini">
	<div class="container">
		<!-- STRART CONTAINER -->
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="page-title">
					<h1>مسئولیت اجتماعی</h1>
				</div>
			</div>
			<div class="col-md-6">
				<ol class="breadcrumb justify-content-md-end">
					<li class="breadcrumb-item"><a href="/">خانه</a></li>
					<li class="breadcrumb-item"><a href="/about">درباره ما</a></li>
					<li class="breadcrumb-item active">مسئولیت اجتماعی</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<div class="main_content">

	<div class="section response-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4">
					<div class="dashboard_menu">
						<ul class="nav nav-tabs flex-column" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="ti-layout-grid2"></i>مسئولیت اجتماعی</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="ti-layout-grid2"></i>آسایشگاه فیاض بخش</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="ti-layout-grid2"></i>مرکز آموزش فنی و حرفه ای</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="account-detail-tab" data-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="ti-layout-grid2"></i>مرکز درمانی رضا</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="account-detail-tab5" data-toggle="tab" href="#account-detail5" role="tab" aria-controls="account-detail5" aria-selected="true"><i class="ti-layout-grid2"></i>خیریه توانبخشی فتح المبین</a>
							</li>
						 
							<li class="nav-item">
								<a class="nav-link" id="account-detail-tab6" data-toggle="tab" href="#account-detail6" role="tab" aria-controls="account-detail6" aria-selected="true"><i class="ti-layout-grid2"></i>بنیاد دانشگاهی فردوسی</a>
							</li>
						 
							<li class="nav-item">
								<a class="nav-link" id="account-detail-tab7" data-toggle="tab" href="#account-detail7" role="tab" aria-controls="account-detail7" aria-selected="true"><i class="ti-layout-grid2"></i>خدمات رفاهی کارکنان</a>
							</li>
						 
						</ul>
					</div>
				</div>
				<div class="col-lg-9 col-md-8">
					<div class="tab-content dashboard_content">
						<div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
							<div class="card">
								<div class="card-header">
									<h3>مسئولیت اجتماعی</h3>
								</div>
								<div class="card-body">
								
									<div class="row">
										<div class="col-lg-6">

											<img src="~/assets/images/about/response1.jpg" />
										</div>
										<div class="col-lg-6">
											<p class="text-justify">
												کارخانجات گروه صنعتی مشهد بر این اعتقاد است که یک گروه صنعتی موفق نه تنها بایستی تلاش مستمر در گسترش و شکوفایی در کیفیت، تولید و صادرات داشته باشد، بلکه باید نسبت به جامعه نیز احساس وظیفه نماید. این باور ما را بر آن داشت تا در خدمات اجتماعی و نیکوکاری حضوری فعال و مفید داشته باشیم:


											</p>
											

										</div>
										
										<div class="col-lg-12">
											<ul>
												<li >نیکوکار صنعتی نمونه ی کشور</li>
												<li >
													اخذ لوح تقدیر
													واقف نمونه ی صنعتی کشور
												</li>
												<li >
													اخذ لوح تقدیر
													تلاش مستمر در گسترش آموزشگاه های فنی و حرفه ای بخصوص در استان خراسان رضوی
												</li>
												<li >تلاش موثر در اعتلای کمی و کیفی زندگی و سلامت معلولین بخصوص در استان خراسان رضوی</li>
												<li >تلاش موثر در ساخت مدارس یک کلاسه و دو کلاسه در روستاهای بسیار دورافتاده کشور</li>
												<li >تلاش موثر در گسترش و تعمیم ورزش در سطح عمومی جوانان کشور بخصوص در استان خراسان رضوی (معلولین به صورت خاص )</li>
												<li >همیاری در ساخت آسایشگاه و مرکز درمانی رضا (ویژه ی بیماران سرطانی)در شهر مشهد</li>
												<li >همیاری موثر در ساخت خوابگاه دانشجویان دختر دانشگاه فردوسی مشهد با ظرفیت ۶۰۰ تخت</li>
												<li >
													همیاری در ساخت مرکز آب درمانی (ویژه معلولین ) در شهر مشهد
													مشارکت در هزینه های جاری و عمرانی آسایشگاه شهید فیاض بخش
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
							<div class="card">
								<div class="card-header">
									<h3>آسایشگاه فیاض بخش</h3>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-lg-6">
											<img src="~/assets/images/about/response2.jpg" />
										</div>
										<div class="col-lg-6">
											<p clsaa="text-justify">
												این مرکز در سال ۱۳۵۰ جهت جمع آوری و سرویس دهی به معلولان سطح شهر به ظرفیت ۲۰۰ مدد جو، افتتاح گردید. پروژه های عمرانی: توسعه فضای ساختمانی بخش های چهارگانه- ایجاد فضای ورزشی ویژه معلولان ( ورزشگاه علی حمیدی) – ایجاد پارک به مساحت تقریبی ۲ هکتار – سردخانه زیر صفر و بالای صفر- رختشویخانه – آشپزخانه- حمام بهداشتی بخش اطفال ، مردان و زنان – کارخانه صنایع سلولزی – کشتارگاه بهداشتی – آرایشگاه بخش مردان – سلف سرویس کارمندان و مددجویان – کلینیک تخصصی دندانپزشکی ویژه معلولان- مجتمع آب درمانی و استخر سرپوشیده ویژه معلولان از جمله طرحهای اجرا شده میباشد. خدمات ارائه شده بهداشتی و درمانی ویژه معلولان: پرستاری ، پزشکی، دندانپزشکی حضورمتخصصین : رشته های ارولوژی ، پوست ، ارتوپدی ( ۱۴ نفر ) ، دندانپزشکان افتخاری (۴۰ نفر )پزشکان ثابت (۴ نفر )، داروخانه و آزمایشگاه همراه با یک داروساز مقیم و کارشناس متخصص علوم آموزشگاهی. خدمات ارائه توان بخشی: فیزیوتراپی ، کاردرمانی ، گفتار
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
					 
									<div class="card">
										<div class="card-header">
											<h3>مرکز آموزش فنی و حرفه ای</h3>
										</div>
										<div class="card-body">
											<div class="row">
												<div class="col-lg-6">
													<img src="~/assets/images/about/response3.jpg" />
												</div>
												<div class="col-lg-6"><p clsaa="text-justify">
	به منظور ایجاد اشتغال پایدار برای جوانان بیکار ( با حداقل تحصیلات تا سطح دیپلم ) نسبت به احداث آموزشگاه های فنی و حرفه ای در تخصص های مورد نیاز جامعه مانند تعمیرات اتومبیل ، جوشکاری ، تراشکاری ، نقاشی ، نجاری ، بنایی ، گچکاری ، باغبانی ، نانوائی و ... اقدام گردیده است که سالیانه بیش از ۵۰۰۰ نفر فارغ التحصیل و اکثرا در صنایع و حرف زیربط شاغل میگردند.
													</p>
												</div>
											</div>
										</div>
									</div>
					 
			 
						</div>
						<div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
							<div class="card">
								<div class="card-header">
									<h3>مرکز درمانی رضا</h3>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-lg-6">
											<img src="~/assets/images/about/response4.jpg" />
										</div>
										<div class="col-lg-6"><p clsaa="text-justify">
												به منظور احداث یک مرکز درمانی پیشرفته برای بیماران سرطانی به انضمام آسایشگاهی برای بیماران بی بضاعت غیر بومی که به خاطر برخورداری از امکانات درمانی شهر مشهد ناگزیر به اقامت در این شهر هستند ، مرکز درمانی امام رضا (ع) توسط انجمن حمایت از بیماران سرطانی مشهد و جمعی از خیرین در منطقه قاسم آباد مشهد آغاز و در سال ۱۳۸۷ بهره برداری آزمایشی از مرکز فوق بعنوان مرکز تخصصی رادیوتراپی ، آنکولوژی رضا (ع) آغاز که مجموعه ای از تجهیزات پیشرفته و روزآمد تشخیص و درمان بیماری سرطان در شرق کشور می باشد.

											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="account-detail5" role="tabpanel" aria-labelledby="account-detail-tab">
							<div class="card">
								<div class="card-header">
									<h3>خیریه توانبخشی فتح المبین</h3>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-lg-6">
											<img src="~/assets/images/about/response5.jpg" />
										</div>
										<div class="col-lg-6"><p clsaa="text-justify">
												این مرکز خیریه توان بخشی از سال ۱۳۸۱ بصورت هیئت امنائی تشکیل و در حال حاضر تعداد ۳۸۵ نفر دختر بی سرپرست یا بد سرپرست را نگهداری می نماید. این بچه ها بین ۷ تا ۱۲ سال در مرکز نگهداری می کردند و لیکن بدلیل شرایط خاص در گروه های سنی دیگر نیز این کودکان در این مرکز نگهداری می شوند که ۱۲۵ نفر در گروه تربیت پذیر-۱۵۰ نفر آموزش پذیر- ۳۰ دختر دانش آموز و ۱۵ دختر بچه پناهگاهی در خوابگاههای متفاوت مرکز نگهداری می شوند. hamdam.org


											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="account-detail6" role="tabpanel" aria-labelledby="account-detail-tab">
							<div class="card">
								<div class="card-header">
									<h3>بنیاد دانشگاهی فردوسی</h3>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-lg-6">
											<img src="~/assets/images/about/response6.jpg" />
										</div>
										<div class="col-lg-6"><p clsaa="text-justify">
												بنیاد دانشگاهی فردوسی بعنوان موسسه علمی- فرهنگی- غیر انتفاعی و عام المنفعه توسط جمعی از افراد نیکوکار دانشگاهی و غیر دانشگاهی برای تقویت ارتباط دانشگاه فردوسی مشهد با جامعه تشکیل شده است که اهم اهداف آن می توان به موارد زیر اشاره نمود:
										<br/>		1- ایجاد مراکز رفاهی و اموزشی و خدمات دانشگاهی مورد نیاز دانشجویان
												<br/>	2- حمایت از دانشجویان مستعد بی بضاعت یا کم بضاعت
												<br/>	3- فراهم آوردن زمینه اشتغال دانشجویان با توجه به مهارتهای آنها

											</p>
										</div>
									</div>
								</div>
							</div>
						</div>				
						<div class="tab-pane fade" id="account-detail7" role="tabpanel" aria-labelledby="account-detail-tab">
							<div class="card">
								<div class="card-header">
									<h3>خدمات رفاهی کارکنان</h3>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-lg-6">
											<img src="~/assets/images/about/response7.jpg" />
										</div>
										<div class="col-lg-6"><p clsaa="text-justify">
												تعاونی مسکن کارخانجات گروه مشهد در راستای اهداف عالی خود جهت اسکان پرسنل کارخانجات اقدام به ساخت واحدهای مسکونی اعم از ویلایی و آپارتمانی نموده است. پروژه های انجام شده در کارخانجات گروه مشهد شامل موارد زیر می باشد:
											</p>
										
											<ol>
												<li>پروژه ی آب و برق ۱۱ واحد ویلایی
												</li>
												<li>پروژه ی قاسم آباد ۵۰ واحد ویلایی
												</li>
												<li>پروژه ی گلبهار ۲۰ واحدی ویلایی
												</li>
												<li>پروژه ی گلبهار ۱۰۲ واحد آپارتمان ویلایی
												</li>
												<li>پروژه شاندیز ۱۳۲ واحدی ویلایی
												</li>
												<li>پروژه ی ریسندگی مشهد (پردیس) ۱۰۸ واحدی آپارتمانی
												</li>
												<li>پروژه ی رنگرزی مشهد (آفتاب) ۳۲ واحدی آپارتمانی
												</li>
												<li>پروژه ی چرم مشهد (فاز ۱) ۶۴ واحدی آپارتمانی
												</li>
												<li>پروژه ی الهیه ۲۵۲ واحدی آپارتمانی
												</li>
												<li>پروژه ی چرم مشهد (فاز ۲) ۶۴ واحدی آپارتمانی
												</li>
											</ol>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	@Html.Partial("FrontEnd/_NewsLetterPartial")

</div>