
<div class="dashboard_menu">
	<ul class="nav nav-tabs flex-column" role="tablist">
		<li class="nav-item">
			<a class="nav-link active menuitem" id="dashboard-tab" href="/dashboard" ><i class="ti-layout-grid2"></i>اطلاعات کاربری</a>
		</li>
		<li class="nav-item">
			<a class="nav-link menuitem" id="orders-tab" href="/dashboard/order" ><i class="ti-shopping-cart-full"></i>سفارشات</a>
		</li>
	 
		<li class="nav-item">
			<a class="nav-link menuitem" id="account-detail-tab"  href="/dashboard/editProfile" ><i class="ti-id-badge"></i>ویرایش پروفایل</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/accounts/LogOff"><i class="ti-lock"></i>خروج</a>
		</li>
	</ul>
</div>

